html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #d5d4cc;
  color: #3f3e37;
  font-family: Consolas, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px; /* 50px vertical gap between each item */
  align-items: center; /* ensure items inside container are centered horizontally */
}

.title {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0px;
  font-weight: 400;
}

.text {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0px;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
